In [1]:
import pandas as pd
import numpy as np

# pandas案例导入

In [3]:
stock_change = np.random.normal(0,1,(10,5))

In [4]:
stock_change

array([[ 0.08343991, -0.28249151,  1.36957736, -1.50071887,  1.02060783],
       [ 0.39564944,  0.17280908, -0.32195439, -0.89492377, -1.92766169],
       [ 0.91566404, -0.7585662 ,  0.11985437,  0.13007032, -2.03371952],
       [-1.10554147,  1.51458214, -0.97254897, -0.3899128 , -0.77392076],
       [-0.82283166,  0.23691175, -0.60872465, -1.86951674, -1.22711333],
       [-1.14574836, -3.19900471, -0.94691326, -1.00264727, -1.25479643],
       [ 1.77118286,  1.52637774,  0.05159597, -1.57344275,  0.27804093],
       [ 0.58622494, -1.71107817,  0.17302269, -1.05548224, -1.10298019],
       [ 0.65138583,  0.50477859, -0.3600423 ,  0.71104434, -0.31900645],
       [ 0.24081617,  0.59669807,  0.84380307, -0.33765178,  0.85937824]])

In [6]:
stock_rise = pd.DataFrame(stock_change)

In [7]:
stock_rise

          0         1         2         3         4
0  0.083440 -0.282492  1.369577 -1.500719  1.020608
1  0.395649  0.172809 -0.321954 -0.894924 -1.927662
2  0.915664 -0.758566  0.119854  0.130070 -2.033720
3 -1.105541  1.514582 -0.972549 -0.389913 -0.773921
4 -0.822832  0.236912 -0.608725 -1.869517 -1.227113
5 -1.145748 -3.199005 -0.946913 -1.002647 -1.254796
6  1.771183  1.526378  0.051596 -1.573443  0.278041
7  0.586225 -1.711078  0.173023 -1.055482 -1.102980
8  0.651386  0.504779 -0.360042  0.711044 -0.319006
9  0.240816  0.596698  0.843803 -0.337652  0.859378

In [9]:
stock_rise.shape[0]

10

In [10]:
stock_code = ['股票{}'.format(i+1) for i in range(stock_rise.shape[0])]

In [11]:
stock_code

['股票1', '股票2', '股票3', '股票4', '股票5', '股票6', '股票7', '股票8', '股票9', '股票10']

In [12]:
pd.DataFrame(stock_change,index=stock_code)

             0         1         2         3         4
股票1   0.083440 -0.282492  1.369577 -1.500719  1.020608
股票2   0.395649  0.172809 -0.321954 -0.894924 -1.927662
股票3   0.915664 -0.758566  0.119854  0.130070 -2.033720
股票4  -1.105541  1.514582 -0.972549 -0.389913 -0.773921
股票5  -0.822832  0.236912 -0.608725 -1.869517 -1.227113
股票6  -1.145748 -3.199005 -0.946913 -1.002647 -1.254796
股票7   1.771183  1.526378  0.051596 -1.573443  0.278041
股票8   0.586225 -1.711078  0.173023 -1.055482 -1.102980
股票9   0.651386  0.504779 -0.360042  0.711044 -0.319006
股票10  0.240816  0.596698  0.843803 -0.337652  0.859378